@*@model IEnumerable<ShopTime.Models.Booking>*@
@model ShopTime.Models.User


@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>Your booking</h1>

    <p>
        @if (Model.Bookings.Count <= 0)
        {

            <a asp-action="Create">Create New</a>
        }

    </p>
    <table class="table">
        <thead>
            <tr>
                @*<th>
                        Id
                    </th>*@
                <th>
                    Name
                </th>
                @*<th>
                        ShopId
                    </th>*@
                <th>
                    Booking Time
                </th>
                <th>
                    Active Cashier
                </th>
                <th>
                    Booking State
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Bookings)
            {
                <tr>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Shop.Name)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.ShopId)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.BookingTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Shop.ActiveCashiers)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookingState)
                    </td>
                    <td>
                        @if (item.BookingState != "InShop")
                        {
                            @if (item.Shop.MaxCapacity >= 2)
                            {

                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Enter Shop</a>
                                <br />
                            }

                        }



                        @*<a asp-action="UpdateEnterShop" asp-route-id="@item.Id">Go into Shop</a>*@


                        @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> *@
                        <a asp-action="Delete" asp-route-id="@item.Id">Done</a>
                    </td>
                </tr>
}
        </tbody>
    </table>
</div>
